/* .main-div {
    position: relative;

}
.main-div .div-absolute{
    position: absolute;
    top: 10px;
    left: 13px;
    height: 20px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    color: rgb(231, 222, 222);
    font-size: 12px;
    font-weight: 700;
    background-color: red;
}
.colorSpan{
    color: red;
    font-size: 15px;
    font-weight: 600;
} */